@charset "ISO-8859-1";

* {
	background-color: #00ff9d;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #00ff9d;
	font-family: "Montserrat", sans-serif;
	padding-top: 7%;
	text-align: center;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: cyan;
  border: 3px solid black;
  border-radius: 3px;
  position: fixed; /* Set the navbar to fixed position */
  top: -2%; /* Position the navbar at the top of the page */
  width: 100.5%; /* Full width */
  right: 1.5%;
  margin-right: -2%;
}

.title {
	float: left;
	color: black;
	margin-left: 3%;
	margin-top: 2%;
	font-weight: bold;
}

.h1 {
	margin-top: 100%;
}

.content {
	margin-top: 10%; 
}

.header-button {
	background-color: lightcoral;
	border: 1px solid black;
	border-radius: 7px;
	color: black;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	width: 10%;
}

.header-button:active {
	background-color: coral;
	color: white; 
}